<div class="center jumbotron">
<h1>ALPHA BLOG</h1>
<%= link_to "sign up",signup_path,class: "btn btn-primary btn-lg "%>
  <%= link_to "sign in",login_path,class: "btn btn-danger btn-lg "%>
<!--  | <%#= link_to "About",about_path %>-->
</div>
<!--<button type="button" class="btn">Basic</button>-->