<h1>This is show method</h1>
<%# @article.each do |a| %>
<!--  <ul>-->
    <%#=a %>
<!--  </ul>-->
<%# end %>

<li>title: <%= @article.title%></li>
<li>description:<%=  @article.description %></li><br/><br/>
<%= link_to "edit this article",edit_article_path(@article) %> |
<%= link_to "back to articles listing",articles_path %>